<div class="form">
    <h2>Add a post!</h2>
    <label>Add a Title:</label>
    <input type="text" placeholder="Title...">
    <label>Add a Body:</label>
    <input type="text" placeholder="Body..." size="50">
    <div class="button">
        <LinkTo @route="index">Submit Post</LinkTo>
    </div>
</div>